<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit Page</title>
</head>
<body>
<h2>编辑你的博客</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blog:edit_action' %}"  method="post">
{% csrf_token %}
	<input type="hidden" name="article_id" value="{{article.id | default:'0'}}">
	<!-- Django模板中出现了不存在的变量，不会报错，只会给个空值 -->
    <label>文章标题</label><input type="text" name="title" value="{{article.title}}"><br>
    <label>文章内容</label><input type="text" name="content" value="{{article.content}}" /><br>
    
<input type="submit" value="Submit">
</form>
</body>
</html>